@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html, body {
    @apply m-0 p-0 h-screen w-full;
  }

  body {
    @apply bg-gray-900 text-gray-50;
  }

  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%
  }

  .dark {
    --sidebar-background: theme(colors.gray.950);
    --sidebar-foreground: theme(colors.gray.50);
    --sidebar-primary: theme(colors.blue.700);
    --sidebar-primary-foreground: theme(colors.white);
    --sidebar-accent: theme(colors.gray.900);
    --sidebar-accent-foreground: theme(colors.zinc.100);
    --sidebar-border: theme(colors.zinc.800);
    --sidebar-ring: theme(colors.blue.500);
  }
}
